<div class="map_controls" ng-controller="MapControlsController">
    <div class="arrows">
        <button type="button" ng-click="vm.moveLayout('left')">←</button>
        <button type="button" ng-click="vm.moveLayout('right')">→</button>
        <button type="button" ng-click="vm.moveLayout('up')">↑</button>
        <button type="button" ng-click="vm.moveLayout('down')">↓</button>
    </div>
    <div class="zoom_slider">
        <button type="button" ng-click="vm.zoomOut()">-</button>
        <input type="range"
               step="{{vm.zoomStep}}"
               min="{{vm.zoomMin}}"
               max="{{vm.zoomMax}}"
               value="{{vm.zoomValue}}"
               ng-model="vm.zoomValue">
        <button type="button" ng-click="vm.zoomIn()">+</button>
    </div>
</div>
